<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Books</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #ededed;">
	<div style="background-color: #337ab7; height: 50px;"></div>
	<div class="container-fluid" style="margin-top: 30px;">
		<div class="row col-lg-4 col-lg-offset-4" style="margin-top: 40px; background-color: #fff; padding: 20px; border: solid 1px #000000;">
			<div th:if="${apartments.empty}">
				No Apartments Available
			</div>
			<div th:each="apartment : ${apartments}">
				<p th:text="${apartment.id}" style="display:inline"></p>: <a th:text="${apartment.link}" th:href="${apartment.link}" target="_blank"></a>
				<hr>
			</div>
			<form th:action="@{/home}" method="GET" class="form-signin">
				<button class="btn btn-block btn-success" name="action" value="home" type="Submit" style="margin-right:10px;">Go to Home</button>
			</form>
		</div>
	</div>
</body>
</html>